openapi: 3.0.1
info:
  title: Car Configurator Service (CCS) INT
  description: "This document describes CCS's REST API Interface, in which the Endpoints\
    \ are structured based on their use cases: Offering vs. Ordering. \n\n [CoDE_Q\
    \ Use-Case Workflow Documentation Page](https://social.cloud.corpintra.net/docs/DOC-467506)\
    \ \n\n [Confidential Data Documentation Page](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)"
  termsOfService: ""
  contact:
    name: CoDE_Q
    email: code_q@mercedes-benz.com
  version: 10.210.0
  x-environment: int
servers:
- url: https://int.pmd-ccs.nonprod.ce.cloud.corpintra.net/ccs-gw
  description: Generated server url
security:
- ApiKeyAuthentication: []
paths:
  /api/v1/onlinecode:
    post:
      tags:
      - Offering - Onlinecode
      summary: Store the vehicle configuration of the given vehicleId in the Vehicle
        Configuration Store (VCS).
      description: Store the vehicle of the given `vehicleId`.
      operationId: storeVehicleConfiguration
      parameters:
      - name: Login-State
        in: header
        required: false
        schema:
          type: string
          enum:
          - CUSTOMER
          - EMPLOYEE
      - name: Parent-Vcs-Id
        in: header
        description: The Parent VCS Id to link the stored configuration
        required: false
        schema:
          type: string
      - name: Parent-Online-Code
        in: header
        description: The Parent Online Code to link the stored configuration
        required: false
        schema:
          type: string
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StoreVehicleConfigurationRequest"
            example:
              vehicleId: ""
        required: true
      responses:
        "400":
          description: VehicleId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Vehicle or Configuration has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OnlineCodeResponse"
  /api/v1/vehicles/{vehicleId}:
    get:
      tags:
      - Offering - Healing
      summary: Retrieve the (possibly healed) vehicle of the given vehicleId.
      description: "Retrieve the vehicle of the given `vehicleId`. If the configuration\
        \ was invalid or incomplete, an automatic healing from the kernel is done.\
        \ The kernel will always return a valid configuration!"
      operationId: getVehicles
      parameters:
      - name: vehicleId
        in: path
        description: Minimal string that identifies a vehicle e.g. 'de_DE__1770871__AU-311_GC-429_LE-L_LU-696_MJ-806_PC-PBG-PSA-U59-U62_SA-00U-01U-02B-213-218-243-258-270-286-287-294-310-345-351-355-362-365-367-428-43R-475-504-521-537-543-580-58U-5B0-620-677-679-70B-72B-73B-79B-7U2-859-873-88B-927-969-986-B01-B51-B59-L3E-R05-U01-U10-U12-U54-U60_SC-0B2-0K2-0S3-0U1-1B3-1U5-2S2-2U1-2U8-3S6-4S6-502-51B-6P5-6U0-7B4-8P3-8S8-8U6-8U8-98B-998-9U8-B09-B10-K13-K31-K37-K45-PVN-PXV-R7A-V08'.
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?__[0-9]{6,8}(?:\\\
            +[A-Z0-9]{3})*(?:_[A-Z0-9]+)?(_[0-9A-Z]{3,4})?__(((([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){1})(_([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){0,})$"
          type: string
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |IDS|View with component IDS for configuration|
          |TECH|Data view of technical information of a vehicle|
          |MULTI_DESC|View with detailed component descriptions|
          |MEDIA|Media (images) view for configuration|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - IDS
            - TECH
            - MULTI_DESC
            - MEDIA
            - CONFIDENTIAL
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: pricingDate
        in: query
        description: "Specifies the pricing date of the configuration (format: 'YYYY-MM-DD',\
          \ e.g. '2024-02-14'). Attention: date is treated as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies only to output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by the C2/GCC/KBV (default)|
          |DIALOG| Use the dialog notation.
        required: true
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      - name: vehicleHealing
        in: query
        description: "Once set to false, an invalid vehicleId will not be healed and\
          \ returns an error."
        required: false
        schema:
          type: boolean
      - name: gcApprovalNumber
        in: query
        description: Comma seperated list of values. Used in conjunctions with `TECH`
          view in order to properly calculate WLTP values for VANs. Please note that
          this parameter only has an effect on VANs.
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vehicle"
        "400":
          description: VehicleId not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: VehicleId has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/vehicles/{vehicleId}/alternatives:
    get:
      tags:
      - Offering - Configuration
      summary: Retrieve the alternatives for the given vehicleId.
      description: "Retrieve the alternatives for the given `vehicleId`. If the configuration\
        \ was valid, only one alternative is delivered. No healing will be done at\
        \ this endpoint."
      operationId: getVehicleAlternatives
      parameters:
      - name: vehicleId
        in: path
        description: Minimal string that identifies a vehicle e.g. 'de_DE__1770871__AU-311_GC-429_LE-L_LU-696_MJ-806_PC-PBG-PSA-U59-U62_SA-00U-01U-02B-213-218-243-258-270-286-287-294-310-345-351-355-362-365-367-428-43R-475-504-521-537-543-580-58U-5B0-620-677-679-70B-72B-73B-79B-7U2-859-873-88B-927-969-986-B01-B51-B59-L3E-R05-U01-U10-U12-U54-U60_SC-0B2-0K2-0S3-0U1-1B3-1U5-2S2-2U1-2U8-3S6-4S6-502-51B-6P5-6U0-7B4-8P3-8S8-8U6-8U8-98B-998-9U8-B09-B10-K13-K31-K37-K45-PVN-PXV-R7A-V08'.
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?__[0-9]{6,8}(?:\\\
            +[A-Z0-9]{3})*(?:_[A-Z0-9]+)?(_[0-9A-Z]{3,4})?__(((([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){1})(_([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){0,})$"
          type: string
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |MULTI_DESC|View with detailed component descriptions|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - MULTI_DESC
            - CONFIDENTIAL
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: pricingDate
        in: query
        description: "Specifies the pricing date of the configuration (format: 'YYYY-MM-DD',\
          \ e.g. '2024-02-14'). Attention: date is treated as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: checkBuildability
        in: query
        description: Check if the alternative is buildable by the kernel. Currently
          only available for Vans (KBV).
        required: false
        schema:
          type: boolean
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies only to output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by the C2/GCC/KBV (default)|
          |DIALOG| Use the dialog notation.
        required: true
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      - name: gcApprovalNumber
        in: query
        description: Comma seperated list of values. Used in conjunctions with `TECH`
          view in order to properly calculate WLTP values for VANs. Please note that
          this parameter only has an effect on VANs.
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VehicleAlternative"
        "400":
          description: VehicleId not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: VehicleId has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/status:
    get:
      tags:
      - Status
      summary: "This is a static status endpoint, which can be used by consumers for\
        \ health checks."
      description: Get information about the current status of the REST API.
      operationId: statusBy
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
  /api/v1/onlinecode/{onlineCode}:
    get:
      tags:
      - Offering - Onlinecode
      summary: Get the configuration for the given onlineCode and restore the vehicle
        inclusive necessary healing.
      description: Get the VehicleConfiguration for the given `onlineCode`. You can
        use the optional query parameter `marketId` if CCS should throw an exception
        on mismatch.
      operationId: loadVehicleConfigurationWithOptionalMarketId
      parameters:
      - name: Login-State
        in: header
        required: false
        schema:
          type: string
          enum:
          - CUSTOMER
          - EMPLOYEE
      - name: onlineCode
        in: path
        description: OnlineCode string that identifies a vehicle configuration e.g.
          'M6882554'. This code is just an Example. **Please do not use it in the
          try out.**
        required: true
        schema:
          pattern: "[M,T]{1}[0-9A-Z]{7}"
          type: string
      - name: marketId
        in: query
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: false
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |TECH|Data view of technical information of a vehicle|
          |MEDIA|Media (images) view for configuration|
          |CATEGORIES|Adds the configuration categories of all selected components|
          |MULTI_DESC|View with detailed component descriptions|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - TECH
            - MEDIA
            - CATEGORIES
            - MULTI_DESC
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies only to output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by the C2/GCC/KBV (default)|
          |DIALOG| Use the dialog notation.
        required: false
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      - name: gcApprovalNumber
        in: query
        description: Comma seperated list of values. Used in conjunctions with `TECH`
          view in order to properly calculate WLTP values for VANs. Please note that
          this parameter only has an effect on VANs.
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Configuration has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: OnlineCode not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleConfiguration"
  /api/v1/onlinecode/{onlineCode}/{marketId}:
    get:
      tags:
      - Offering - Onlinecode
      summary: Get the configuration of the given onlineCode and marketId.
      description: "Get the VehicleConfiguration for the given `onlineCode` and `marketId`.\
        \ Use /onlineCode/{onlineCode} instead."
      operationId: loadVehicleConfiguration
      parameters:
      - name: Login-State
        in: header
        required: false
        schema:
          type: string
          enum:
          - CUSTOMER
          - EMPLOYEE
      - name: onlineCode
        in: path
        description: OnlineCode string that identifies a vehicle configuration e.g.
          'M6882554'. This code is just an Example. **Please do not use it in the
          try out.**
        required: true
        schema:
          pattern: "[M,T]{1}[0-9A-Z]{7}"
          type: string
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |TECH|Data view of technical information of a vehicle|
          |MEDIA|Media (images) view for configuration|
          |CATEGORIES|Adds the configuration categories of all selected components|
          |MULTI_DESC|View with detailed component descriptions|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - TECH
            - MEDIA
            - CATEGORIES
            - MULTI_DESC
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies only to output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by the C2/GCC/KBV (default)|
          |DIALOG| Use the dialog notation.
        required: false
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: OnlineCode or MarketId not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Configuration or Market has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleConfiguration"
      deprecated: true
  /api/v1/models/{modelId}/configurations/{configurationId}/validation:
    get:
      tags:
      - Ordering - Validation
      summary: Execute a validation against the PPM classic validation engine. The
        validation type can be chosen as a query parameter.
      description: "Validate a VehicleConfiguration based on the order state. <br/>\
        \ <br/>**Important**: This endpoint is serving PC vehicles only. Configurations\
        \ of Van vehicles are not being supported. <br/> <br/>**Note:** A `modelYear`\
        \ in the `configurationId` is required for selecting views. <br/> <br/>**Note:**\
        \ A `changeYear` is required whenever it exist for the baumuster. <br/> <br/>"
      operationId: configurationValidation
      parameters:
      - name: modelId
        in: path
        description: "Minimal string that identifies a model e.g. '1770871'. If no\
          \ nationalSalesType is available, the modelId only consists of the baumuster\
          \ e.g. '1770871'."
        required: true
        schema:
          pattern: "^[0-9]{7,8}(_[0-9A-Z]{3,4})?$"
          type: string
        example: 2060421_TW1
      - name: configurationId
        in: path
        description: Minimal string that identifies a configuration e.g. 'AU-311_GC-429_LE-L_LU-696_MJ-806_PC-PBG-PSA-U59-U62_SA-00U-01U-02B-213-218-243-258-270-286-287-294-310-345-351-355-362-365-367-428-43R-475-504-521-537-543-580-58U-5B0-620-677-679-70B-72B-73B-79B-7U2-859-873-88B-927-969-986-B01-B51-B59-L3E-R05-U01-U10-U12-U54-U60_SC-0B2-0K2-0S3-0U1-1B3-1U5-2S2-2U1-2U8-3S6-4S6-502-51B-6P5-6U0-7B4-8P3-8S8-8U6-8U8-98B-998-9U8-B09-B10-K13-K31-K37-K45-PVN-PXV-R7A-V08'.
        required: true
        schema:
          pattern: "^(((([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){1})(_([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){0,})$"
          type: string
        example: LU-859_AU-101_SA-AA5-B01-B08-B10-B51-B59-D52-H08-K06-K17-K31-L3E-PBG-P14-P15-P17-P47-P49-R01-R8H-R86-U01-U10-U12-U22-0U7-001-01U-1B3-1S3-1U9-14U-16U-165-17U-2U1-2U8-23P-233-235-241-242-243-249-26B-262-266-272-275-287-299-30P-301-310-321-345-351-355-365-367-37U-383-421-464-475-500-501-502-513-52V-521-53B-58U-580-587-6P5-632-668-677-7B4-7U2-757-8X2-802-827-829-868-871-876-881-889-891-893-894-897-916-927-94B-964-998
      - name: orderingSalesUnitId
        in: query
        description: V-Wert or GSSN ID of the ordering market
        required: true
        schema:
          pattern: "([0-9A-Z/]{3,8}|GS[0-9]{7,10})"
          type: string
        example: 817
      - name: consumingSalesUnitId
        in: query
        description: V-Wert or GSSN ID of the consuming market
        required: true
        schema:
          pattern: "([0-9A-Z/]{3,8}|GS[0-9]{7,10})"
          type: string
        example: 817
      - name: orderDate
        in: query
        description: Order date (at headquarter) (Bestell-Datum)
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: productionDate
        in: query
        description: Date of production
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: testDate
        in: query
        description: "German: Pruefdatum. CheckDate - Date used for validation, typically\
          \ current date."
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: valuationContent
        in: query
        description: "Can be empty, AA or PE. AA = order acceptance, PE = production\
          \ scheduled. For most orders, depending on order status, PE is used. German:\
          \ Pruefungsumfang."
        required: true
        schema:
          pattern: "[A-Z]{1,2}"
          type: string
        example: PE
      - name: validationType
        in: query
        description: "<strong>Before final inspection</strong>, the \"validation\"\
          \ (Validierung) has to be called. It examines the complete configuration\
          \ (i.e. baumuster and all codes) and applies all relevant rules. The result\
          \ of Validation may be a business error (NOKF, fachlicher Fehler) when Baumuster\
          \ cannot be produced. Normally only codes are added.<br /><strong>After\
          \ final inspection</strong> until delivery, the \"validation after final\
          \ inspection\" (Validierung nach Schlussabnahme) has to be called. It examines\
          \ only those codes that in general can be changed after final inspection\
          \ and applies only some rules. Codes that can be changed in general after\
          \ final inspection are central provider codes, local provider codes, local\
          \ dealer codes and local steering codes. (Note: The caller of \"validation\
          \ after final inspection\" has to assure, that the other codes are not changed!)<br\
          \ /><strong>After delivery</strong>, the \"validation after delivery\" (Validierung\
          \ nach Lieferung) has to be called. It examines only those codes that in\
          \ general can be changed after delivery and applies only some rules. Codes\
          \ that in general can be changed after delivery are local provider codes,\
          \ local dealer codes and local steering codes. (Note: The caller of \"validation\
          \ after final inspection\" has to assure, that the other codes are not changed!)"
        required: true
        schema:
          type: string
          enum:
          - BEFORE_FINAL_INSPECTION
          - AFTER_FINAL_INSPECTION
          - AFTER_DELIVERY
      - name: plantId
        in: query
        description: "Can be empty. Plant app is called twice during the validation\
          \ process. Plant determination is done at the beginning of the validation\
          \ process to determine the plant to be used in the validation. As a configuration\
          \ may be build in multiple plants, the input plantId is given higher preference\
          \ - no match for the input results in the first of the determined plants\
          \ being used for validation. Plant determination is called again at the\
          \ end of the validation process. Idea is to verify if the now potentially\
          \ changed/healed configuration can still be in one are many plants. If the\
          \ plant that was used in the validation is present in the now determined\
          \ plant list it is given higher preference and moved to the first spot.\
          \ If the plant that was used in the validation is NOT present in the now\
          \ determined plant list the configuration cannot be build in the previously\
          \ defined plant and an Exception is thrown. So, it's not irrelevant what\
          \ you pass here. Passing a plantId may lead to a different output configuration.\
          \ It's possible to create validation rules with the plantId as a requirement."
        required: false
        schema:
          pattern: "[0-9]{1,4}"
          type: string
        example: "050"
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |MULTI_DESC|View with detailed component descriptions|
          |MEDIA|View with component and vehicle images|
          |TECH|View with technical information of a vehicle only|
          |NAME|View with model name and code name only|
          |ONLY_VALIDATION|View to perform validation only|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - MULTI_DESC
            - MEDIA
            - TECH
            - NAME
            - ONLY_VALIDATION
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: unloadKey
        in: query
        description: "Can be empty. Destination key of the vehicle, e.g. 200005401.\
          \ German: Abladeschluessel - Genutzt für distributionsrelevante Codes. The\
          \ final destination key is used for the rule determination as rules can\
          \ have a requirement to the final destination key. So not providing it in\
          \ the request could lead to relevant rules not being applied to the configuration."
        required: false
        deprecated: true
        schema:
          pattern: "[0-9]{1,9}"
          type: string
        example: 200005401
      - name: dispatchMode
        in: query
        description: "Can be empty. German: Versandart. Example Values: 0 = not specified\
          \ yet, 1 = Truck within Germany, 2 = Train / Ship, 3 = Customer picks up\
          \ the car at the factory the car has been built in, 6 = Truck within DCAG\
          \ (brings car to a factory that did not build the car) for pickup by the\
          \ customer, 7 = Transfer per driver of the factory, 8 = Truck of another\
          \ company, 9 = Truck within Germany to a body build-up factory. The dispatch\
          \ mode is used for the rule determination as rules can have a requirement\
          \ to the dispatch mode. So not providing it in the request could lead to\
          \ relevant rules not being applied to the configuration."
        required: false
        schema:
          pattern: "[0-9]"
          type: string
        example: 0
      - name: customerStock
        in: query
        description: "Can be empty, K or B. German: Kunde-Bestand. Order classification\
          \ to distinguish between customer and stock vehicles"
        required: false
        deprecated: true
        schema:
          pattern: "[KB]"
          type: string
        example: B
      - name: areaNumber
        in: query
        description: Unused field. Also known as landNumber. Was used in mainframe
          validation related to AEPVVehicleConfiguration plant determination. The
          AEPVVehicleConfiguration related part was not migrated
        required: false
        deprecated: true
        schema:
          pattern: "[0-9]{1,3}"
          type: string
        example: 1
      - name: advancedPrototype
        in: query
        description: "default = false. Also known as isNullSeries. German: Nullserien-Kennzeichnung.\
          \ Flag to identify preproduction vehicles"
        required: false
        schema:
          type: boolean
        example: false
      - name: performPacketAttribution
        in: query
        description: "default = true. Will show you which codes are package codes\
          \ and if they are a basic or alternative component. Should be set to true,\
          \ else you need to ignore the attributes packageBasicComponent and packageAlternativeComponent\
          \ in the validation result."
        required: false
        schema:
          type: boolean
        example: true
      - name: performLineAttribution
        in: query
        description: "default = true. If false, the lineRim attribute that is shown\
          \ for each code must be ignored. Perform line attribution i.e setting the\
          \ line attribute for codes. All package codes which are assigned to the\
          \ code group \"KLNZ Lines-Zentrale\"or \"KLNM Lines-Markt\" or to one of\
          \ their child code groups, are lines within the respective market layer.\
          \ It is checked for every package code of configuration, if it is assigned\
          \ to one of these code groups. If yes, it gets the attribute Line as Offering-Code\
          \ type with offering. Example: \"lineRim\":\"LI\"."
        required: false
        schema:
          type: boolean
        example: true
      - name: performRimAttribution
        in: query
        description: "default = true. If false, the lineRim attribute that is shown\
          \ for each code must be ignored. It is checked for all optional equipment\
          \ codes of the configuration, if they are assigned to the central code group\
          \ \"K050 Felgen\" or to one of its direct child code groups, because in\
          \ that case, they are defined as rims. Such a code is returned with the\
          \ Offering-code type Felge (Rim). Example: \"lineRim\":\"FE\"."
        required: false
        schema:
          type: boolean
        example: true
      - name: salesFeature
        in: query
        description: "German: Vertriebsmerkmal (VEME). Covers sales attributes. Example\
          \ values: empty = No ISME-Vehicle, ISME = Integrated Stock Management Europe,\
          \ CARE = Care-Model (smart ed), CLAS = Classic-Model (smart ed). If the\
          \ sales feature is set, the validation applies the relevant sales feature\
          \ rules (Vertriebsmerkmalsregelen)."
        required: false
        deprecated: true
        schema:
          pattern: "[A-Z]{4}"
          type: string
        example: ISME
      - name: productionOrderNote
        in: query
        description: "Example values: empty, 1 = pre-production vehicle, 2 = Individual\
          \ Customer Order, more values possible. Indicates whether the order has\
          \ special options (PA1options, value=2) or not. German: Produktionshinweis,\
          \ z.B. PA1-Hinweis = 2."
        required: false
        schema:
          pattern: "[0-9]"
          type: string
        example: 1
      - name: preSaleValidation
        in: query
        description: "<strong>This is the confidential PreSale-Validation, you could\
          \ only use these functionality if your application have the needed access\
          \ rights</strong><br /> default = false. <br /><strong>If true the user\
          \ restricted pre sale validation will be performed.</strong>Please set also\
          \ the fields for <strong>approvalObjectProductGroup and approvalObjectSalesUnit</strong>\
          \ because in case of pre sale validation these fields are <strong>mandatory</strong>."
        required: false
        schema:
          type: boolean
        example: false
      - name: approvalObjectProductGroup
        in: query
        description: <strong>Mandatory</strong> if you set <strong>preSaleValidation
          to true</strong>
        required: false
        schema:
          pattern: "[A-Z]{1}"
          type: string
        example: P
      - name: approvalObjectSalesUnit
        in: query
        description: <strong>Mandatory</strong> if you set <strong>preSaleValidation
          to true</strong>
        required: false
        schema:
          pattern: "[0-9A-Z/]{3,8}"
          type: string
        example: VP/V
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies to output parameters only. Notation of input parameters are automatically detected.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by PPM (default)|
          |DIALOG| Use the dialog notation.
        required: false
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: language
        in: query
        description: "This is a ISO language string e.g. 'de' and is spoken in Austria\
          \ 'AT', Germany 'DE' and Swiss 'CH'. Check the markets endpoint for a list\
          \ of supported languages per market. It is used for the translation of the\
          \ codeNames."
        required: false
        schema:
          pattern: "^[a-zA-Z]{2}$"
          type: string
        example: en
      responses:
        "403":
          description: The current request is not allowed. Details can be found in
            the error message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A resource could not be found. Details can be found in the
            error message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationValidationResponse"
        "400":
          description: One or more parameter do not match the requested format. Details
            can be found in the error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/models/{modelId}/configurations/{configurationId}/validation-capsule:
    get:
      tags:
      - Ordering - Validation
      summary: Execute a validation against the PPM classic validation engine based
        on the order status. The validation type will be selected automatically based
        on the order status.
      description: "In order to get a valid configuration, the caller has to validate\
        \ the configuration using GO validation services. There are different validation\
        \ services for validating a configuration at three different stages within\
        \ the lifecycle of a configuration: **before final inspection**, **after final\
        \ inspection until delivery** and  **after delivery**. \n\n**Before final\
        \ inspection**, the \"validation\" (Validierung) has to be called. It examines\
        \ the complete configuration (i.e. baumuster and all codes) and applies all\
        \ relevant rules. The result of validation may be a business error (NOKF,\
        \ fachlicher Fehler) when the baumuster cannot be produced. Normally only\
        \ codes are added.\n\n**After final inspection until delivery**, the \"validation\
        \ after final inspection\" (Validierung nach Schlussabnahme) has to be called.\
        \ It examines only those codes that can be generally changed after final inspection\
        \ and applies only some of the rules. Codes that can be changed in general\
        \ after final inspection are central provider codes, local provider codes,\
        \ local dealer codes and local steering codes. (Note: The caller of \"validation\
        \ after final inspection\" has to assure that the other codes are not changed!).\n\
        \n**After delivery**, the \"validation after delivery\" (Validierung nach\
        \ Lieferung) has to be called. It examines only those codes that can be generally\
        \ changed after delivery and applies only some of the rules. Codes that in\
        \ general can be changed after delivery are local provider codes, local dealer\
        \ codes and local steering codes. (Note: The caller of \"validation after\
        \ final inspection\" has to assure that the other codes are not changed!).\n\
        \nIn order to encapsulate the logic to distinguish the different services,\
        \ a new encapsulated validation service is introduced. \n\nThe step in the\
        \ lifecycle of a configuration is decided based on the order status. This\
        \ order status is passed with the configuration to this endpoint that determines\
        \ and calls one of the three different validation services. \n\n\"valuationContent\"\
        \ (german \"Pruefungsart\") is not exposed via this API as it is being set\
        \ based on the order status. \n\n**Important**: This endpoint is serving PC\
        \ vehicles only. Configurations of Van vehicles are not being supported. \n\
        \n**Note:** A `modelYear` in the `configurationId` is required for selecting\
        \ views. \n\n**Note:** A `changeYear` is required whenever it exist for the\
        \ baumuster. <br/> <br/>"
      operationId: validationCapsule
      parameters:
      - name: modelId
        in: path
        description: "Minimal string that identifies a model e.g. '1770871'. If no\
          \ nationalSalesType is available, the modelId only consists of the baumuster\
          \ e.g. '1770871'."
        required: true
        schema:
          pattern: "^[0-9]{7,8}(_[0-9A-Z]{3,4})?$"
          type: string
        example: 2060421_TW1
      - name: configurationId
        in: path
        description: Minimal string that identifies a configuration e.g. 'AU-311_GC-429_LE-L_LU-696_MJ-806_PC-PBG-PSA-U59-U62_SA-00U-01U-02B-213-218-243-258-270-286-287-294-310-345-351-355-362-365-367-428-43R-475-504-521-537-543-580-58U-5B0-620-677-679-70B-72B-73B-79B-7U2-859-873-88B-927-969-986-B01-B51-B59-L3E-R05-U01-U10-U12-U54-U60_SC-0B2-0K2-0S3-0U1-1B3-1U5-2S2-2U1-2U8-3S6-4S6-502-51B-6P5-6U0-7B4-8P3-8S8-8U6-8U8-98B-998-9U8-B09-B10-K13-K31-K37-K45-PVN-PXV-R7A-V08'.
        required: true
        schema:
          pattern: "^(((([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){1})(_([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){0,})$"
          type: string
        example: LU-859_AU-101_SA-AA5-B01-B08-B10-B51-B59-D52-H08-K06-K17-K31-L3E-PBG-P14-P15-P17-P47-P49-R01-R8H-R86-U01-U10-U12-U22-0U7-001-01U-1B3-1S3-1U9-14U-16U-165-17U-2U1-2U8-23P-233-235-241-242-243-249-26B-262-266-272-275-287-299-30P-301-310-321-345-351-355-365-367-37U-383-421-464-475-500-501-502-513-52V-521-53B-58U-580-587-6P5-632-668-677-7B4-7U2-757-8X2-802-827-829-868-871-876-881-889-891-893-894-897-916-927-94B-964-998
      - name: orderingSalesUnitId
        in: query
        description: V-Wert or GSSN ID of the ordering market
        required: true
        schema:
          pattern: "([0-9A-Z/]{3,8}|GS[0-9]{7,10})"
          type: string
        example: 817
      - name: consumingSalesUnitId
        in: query
        description: V-Wert or GSSN ID of the consuming market
        required: true
        schema:
          pattern: "([0-9A-Z/]{3,8}|GS[0-9]{7,10})"
          type: string
        example: 817
      - name: orderDate
        in: query
        description: Order date (at headquarter) (Bestell-Datum)
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: productionDate
        in: query
        description: Date of production
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: testDate
        in: query
        description: "German: Pruefdatum. CheckDate - Date used for validation, typically\
          \ current date."
        required: true
        schema:
          type: string
          format: date
        example: 2022-01-21
      - name: orderStatus
        in: query
        description: |
          |parameter|description|
          |---|---|
          |PLACED|Platziert 00PLAZ|
          |BOOKED|Gebucht 10GEBU|
          |REQUESTED|Aufgefordert 20AUFG|
          |SCHEDULED|Abgerufen 30ABGE|
          |SPECIFIED|Festgelegt 40FEST|
          |READY_FOR_SCHEDULING|Bereit zur Einplanung 45BZEP|
          |PLANNED_BY_PLANT|Werksseitig eingeplant 48WSEP|
          |PLANNED|Eingeplant 50EING|
          |IN_PRODUCTION|In Produktion 60PROD|
          |AFTER_FINAL_INSPECTION|Schlussabnahme 70SABN|
          |ASSEMBLY|Aufbau 74AUFB|
          |ASSEMBLY_FINISHED|Aufbau beendet 76ENAU|
          |IN_DISPATCH|Versand 80VERS|
          |DELIVERED|Geliefert 85LIEF|
          |TAKEN_OVER|Uebergeben 90LUEB|
          |CANCELLED|Annulliert 99ANNU|
          |CANCELLED_BY_AGEA|Annulliert-AGAE 99ANAG|
        required: true
        schema:
          type: string
          enum:
          - PLACED
          - BOOKED
          - REQUESTED
          - SCHEDULED
          - SPECIFIED
          - READY_FOR_SCHEDULING
          - PLANNED_BY_PLANT
          - PLANNED
          - IN_PRODUCTION
          - AFTER_FINAL_INSPECTION
          - ASSEMBLY
          - ASSEMBLY_FINISHED
          - IN_DISPATCH
          - DELIVERED
          - TAKEN_OVER
          - CANCELLED
          - CANCELLED_BY_AGEA
      - name: plantId
        in: query
        description: "Can be empty. Plant app is called twice during the validation\
          \ process. Plant determination is done at the beginning of the validation\
          \ process to determine the plant to be used in the validation. As a configuration\
          \ may be build in multiple plants, the input plantId is given higher preference\
          \ - no match for the input results in the first of the determined plants\
          \ being used for validation. Plant determination is called again at the\
          \ end of the validation process. Idea is to verify if the now potentially\
          \ changed/healed configuration can still be in one are many plants. If the\
          \ plant that was used in the validation is present in the now determined\
          \ plant list it is given higher preference and moved to the first spot.\
          \ If the plant that was used in the validation is NOT present in the now\
          \ determined plant list the configuration cannot be build in the previously\
          \ defined plant and an Exception is thrown. So, it's not irrelevant what\
          \ you pass here. Passing a plantId may lead to a different output configuration.\
          \ It's possible to create validation rules with the plantId as a requirement."
        required: false
        schema:
          pattern: "[0-9]{1,4}"
          type: string
        example: "050"
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |MULTI_DESC|View with detailed component descriptions|
          |MEDIA|View with component and vehicle images|
          |TECH|View with technical information of a vehicle only|
          |NAME|View with model name and code name only|
          |ONLY_VALIDATION|View to perform validation only|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - MULTI_DESC
            - MEDIA
            - TECH
            - NAME
            - ONLY_VALIDATION
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: unloadKey
        in: query
        description: "Can be empty. Destination key of the vehicle, e.g. 200005401.\
          \ German: Abladeschluessel - Genutzt für distributionsrelevante Codes. The\
          \ final destination key is used for the rule determination as rules can\
          \ have a requirement to the final destination key. So not providing it in\
          \ the request could lead to relevant rules not being applied to the configuration."
        required: false
        deprecated: true
        schema:
          pattern: "[0-9]{1,9}"
          type: string
        example: 200005401
      - name: dispatchMode
        in: query
        description: "Can be empty. German: Versandart. Example Values: 0 = not specified\
          \ yet, 1 = Truck within Germany, 2 = Train / Ship, 3 = Customer picks up\
          \ the car at the factory the car has been built in, 6 = Truck within DCAG\
          \ (brings car to a factory that did not build the car) for pickup by the\
          \ customer, 7 = Transfer per driver of the factory, 8 = Truck of another\
          \ company, 9 = Truck within Germany to a body build-up factory. The dispatch\
          \ mode is used for the rule determination as rules can have a requirement\
          \ to the dispatch mode. So not providing it in the request could lead to\
          \ relevant rules not being applied to the configuration."
        required: false
        schema:
          pattern: "[0-9]"
          type: string
        example: 0
      - name: customerStock
        in: query
        description: "Can be empty, K or B. German: Kunde-Bestand. Order classification\
          \ to distinguish between customer and stock vehicles"
        required: false
        deprecated: true
        schema:
          pattern: "[KB]"
          type: string
        example: B
      - name: areaNumber
        in: query
        description: Unused field. Also known as landNumber. Was used in mainframe
          validation related to AEPVVehicleConfiguration plant determination. The
          AEPVVehicleConfiguration related part was not migrated
        required: false
        deprecated: true
        schema:
          pattern: "[0-9]{1,3}"
          type: string
        example: 1
      - name: advancedPrototype
        in: query
        description: "default = false. Also known as isNullSeries. German: Nullserien-Kennzeichnung.\
          \ Flag to identify preproduction vehicles"
        required: false
        schema:
          type: boolean
        example: false
      - name: performPacketAttribution
        in: query
        description: "default = true. Will show you which codes are package codes\
          \ and if they are a basic or alternative component. Should be set to true,\
          \ else you need to ignore the attributes packageBasicComponent and packageAlternativeComponent\
          \ in the validation result."
        required: false
        schema:
          type: boolean
        example: true
      - name: performLineAttribution
        in: query
        description: "default = true. If false, the lineRim attribute that is shown\
          \ for each code must be ignored. Perform line attribution i.e setting the\
          \ line attribute for codes. All package codes which are assigned to the\
          \ code group \"KLNZ Lines-Zentrale\"or \"KLNM Lines-Markt\" or to one of\
          \ their child code groups, are lines within the respective market layer.\
          \ It is checked for every package code of configuration, if it is assigned\
          \ to one of these code groups. If yes, it gets the attribute Line as Offering-Code\
          \ type with offering. Example: \"lineRim\":\"LI\"."
        required: false
        schema:
          type: boolean
        example: true
      - name: performRimAttribution
        in: query
        description: "default = true. If false, the lineRim attribute that is shown\
          \ for each code must be ignored. It is checked for all optional equipment\
          \ codes of the configuration, if they are assigned to the central code group\
          \ \"K050 Felgen\" or to one of its direct child code groups, because in\
          \ that case, they are defined as rims. Such a code is returned with the\
          \ Offering-code type Felge (Rim). Example: \"lineRim\":\"FE\"."
        required: false
        schema:
          type: boolean
        example: true
      - name: salesFeature
        in: query
        description: "German: Vertriebsmerkmal (VEME). Covers sales attributes. Example\
          \ values: empty = No ISME-Vehicle, ISME = Integrated Stock Management Europe,\
          \ CARE = Care-Model (smart ed), CLAS = Classic-Model (smart ed). If the\
          \ sales feature is set, the validation applies the relevant sales feature\
          \ rules (Vertriebsmerkmalsregelen)."
        required: false
        deprecated: true
        schema:
          pattern: "[A-Z]{4}"
          type: string
        example: ISME
      - name: productionOrderNote
        in: query
        description: "Example values: empty, 1 = pre-production vehicle, 2 = Individual\
          \ Customer Order, more values possible. Indicates whether the order has\
          \ special options (PA1options, value=2) or not. German: Produktionshinweis,\
          \ z.B. PA1-Hinweis = 2."
        required: false
        schema:
          pattern: "[0-9]"
          type: string
        example: 1
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies to both input and output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by PPM (default)|
          |DIALOG| Use the dialog notation.
        required: false
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: language
        in: query
        description: "This is a ISO language string e.g. 'de' and is spoken in Austria\
          \ 'AT', Germany 'DE' and Swiss 'CH'. Check the markets endpoint for a list\
          \ of supported languages per market. It is used for the translation of the\
          \ codeNames."
        required: false
        schema:
          pattern: "^[a-zA-Z]{2}$"
          type: string
        example: en
      responses:
        "403":
          description: The current request is not allowed. Details can be found in
            the error message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: A resource could not be found. Details can be found in the
            error message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigurationValidationResponse"
        "400":
          description: One or more parameter do not match the requested format. Details
            can be found in the error message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/markets:
    get:
      tags:
      - Portfolio-Data
      summary: Get all available markets.
      description: Get all available Markets. The optional query parameters `language`
        or `country` may be used to filter the result.
      operationId: getMarkets
      parameters:
      - name: language
        in: query
        description: "This is a ISO language string e.g. 'de' and is spoken in Austria\
          \ 'AT', Germany 'DE' and Swiss 'CH'. Check the markets endpoint for a list\
          \ of supported languages per market."
        required: false
        schema:
          pattern: "^[a-zA-Z]{2}$"
          type: string
      - name: country
        in: query
        description: "This is a ISO country string e.g. Germany 'DE', Swiss 'CH' or\
          \ subdivisions e.g. Abu Dhabi (AE-AZ)."
        required: false
        schema:
          pattern: "^[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
      responses:
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Access is forbidden for requested market
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Market"
  /api/v1/markets/{marketId}:
    get:
      tags:
      - Portfolio-Data
      summary: Get the market for the given marketId.
      description: Get the Market for the given `marketId`. There are no query parameters
        to filter the result.
      operationId: getMarket
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      responses:
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Access is forbidden for requested market
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: MarketId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
  /api/v1/markets/{marketId}/productgroups:
    get:
      tags:
      - Portfolio-Data
      summary: Get all configured active product groups for the given marketId.
      description: Get all configured active product groups for the given `marketId`.
        It returns a map with `marketId` and `productGroups` as a key-value pair.
      operationId: getActiveProductGroupsForMarket
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CONFIDENTIAL
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Market not found or no active product group found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: MarketId or ProductgroupId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProductGroupsPerMarket"
  /api/v1/markets/{marketId}/pre-configured-vehicles:
    get:
      tags:
      - Offering - Configuration
      summary: "Filter vehicles by marketId, baumuster and codes"
      description: "Get vehicleIds filtered by the given `marketId`, `baumuster` and\
        \ `codes`. <br/> <br/>**Important**: This endpoint is serving Vans only. Configurations\
        \ of PC vehicles are not being supported. <br/> <br/>"
      operationId: filteredVehicleIdsByBaumusterAndCodes
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: baumuster
        in: query
        description: This is a baumuster e.g. '90713313' for 'Sprinter Fahrgestell
          BASE 311 CDI standard' in Germany.
        required: true
        schema:
          type: string
        example: 90713313
      - name: nationalSalesType
        in: query
        description: This is the national sales type of a distinct baumuster e.g.
          'E07' in France.
        required: false
        schema:
          pattern: "[0-9A-Z]{3,4}"
          type: string
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: includedCodes
        in: query
        description: Filter vehicles based on the provided codes (inclusive). All
          codes must be part of the initial configuration
        required: false
        schema:
          type: string
      - name: excludedCodes
        in: query
        description: Filter vehicles based on the provided codes (exclusive). None
          of these codes may be part of the initial configuration.
        required: false
        schema:
          type: string
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CONFIDENTIAL
      responses:
        "301":
          description: Dataversion has not been found
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: MarketId or ModelId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreConfiguredVehiclesResponse"
        "404":
          description: Market or the ModelId has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/markets/{marketId}/models:
    get:
      tags:
      - Offering - Portfolio-Data
      summary: Get all available models for the given marketId.
      description: "Get all available VehicleModels for the given `marketId`. The\
        \ optional query parameters `classId`, `bodyId`, `baumuster4prefix`, `baumuster`,\
        \ `nationalSalesType` or `productGroups` may be used to filter the result.\
        \ <br/> <br/>The parameter `baumuster4prefix` must conform to the pattern\
        \ [0-9]{4}."
      operationId: getVehicleModelsForMarket
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: classId
        in: query
        description: This is a class id e.g. 'A-KLASSE' for 'A-Klasse' in Germany.
        required: false
        schema:
          pattern: "[A-Z][0-9]{2}|[0-9]{3}|[-_A-Z]+[ ]{0,1}[-_A-Z]*"
          type: string
      - name: bodyId
        in: query
        description: This is a body id e.g. 'KOMPAKT-LIMOUSINE' for 'Kompakt-Limousine'
          in Germany.
        required: false
        schema:
          pattern: "[0-9]{1,3}|[0-9]{0,1}[-_A-Z]+[ ]{0,1}[-_A-Z]*"
          type: string
      - name: baumuster4prefix
        in: query
        description: The first four digits of a baumuster are called baumuster4prefix
          e.g. '1770' for 'Berline' in France.
        required: false
        schema:
          pattern: "[0-9]{4}"
          type: string
      - name: baumuster
        in: query
        description: This is a baumuster e.g. '1770871' for 'A 200 Limousine' in Germany.
        required: false
        schema:
          pattern: "[0-9]{6,8}(?:\\+[A-Z0-9]{3})*(?:_[A-Z0-9]+)?"
          type: string
      - name: nationalSalesType
        in: query
        description: This is the national sales type of a distinct baumuster e.g.
          'E07' in France.
        required: false
        schema:
          pattern: "[0-9A-Z]{3,4}"
          type: string
      - name: productGroups
        in: query
        description: Specifies to which product groups the vehicles belong which should
          be returned. The product groups are separated from each other by a comma.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - PKW
            - VAN
            - GELAENDEWAGEN
      - name: customerGroup
        in: query
        description: Specifies to which customer group the vehicles belong which should
          be returned.
        required: false
        schema:
          type: string
          enum:
          - COMMERCIAL
          - PRIVATE
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |TECH_REDUCED|Data view of reduced technical information of a vehicle|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - TECH_REDUCED
            - CONFIDENTIAL
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: pricingDate
        in: query
        description: "Specifies the pricing date of the configuration (format: 'YYYY-MM-DD',\
          \ e.g. '2024-02-14'). Attention: date is treated as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: MarketId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/VehicleModel"
  /api/v1/markets/{marketId}/models/{modelId}:
    get:
      tags:
      - Offering - Portfolio-Data
      summary: Get the model for the given marketId and modelId.
      description: Get the VehicleModel for the given `marketId` and `modelId`.
      operationId: getVehicleModelForModelId
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: modelId
        in: path
        description: "Minimal string that identifies a model e.g. '1770871'. If no\
          \ nationalSalesType is available, the modelId only consists of the baumuster\
          \ e.g. '1770871'."
        required: true
        schema:
          pattern: "^[0-9]{6,8}(?:\\+[A-Z0-9]{3})*(?:_[A-Z0-9]+)?(_[0-9A-Z]{3,4})?$"
          type: string
        example: 1770871
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |TECH_REDUCED|Data view of reduced technical information of a vehicle|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - TECH_REDUCED
            - CONFIDENTIAL
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: pricingDate
        in: query
        description: "Specifies the pricing date of the configuration (format: 'YYYY-MM-DD',\
          \ e.g. '2024-02-14'). Attention: date is treated as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleModel"
        "400":
          description: MarketId or ModelId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Market or the ModelId has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
  /api/v1/markets/{marketId}/models/{modelId}/technical-values:
    get:
      tags:
      - Ordering - Portfolio-Data
      summary: Get the technical values for the given marketId and modelId.
      description: Get the technical values for the given `marketId` and `modelId`.
      operationId: getTechnicalValues
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: modelId
        in: path
        description: "Minimal string that identifies a model e.g. '1770871'. If no\
          \ nationalSalesType is available, the modelId only consists of the baumuster\
          \ e.g. '1770871'."
        required: true
        schema:
          pattern: "^[0-9]{6,8}(?:\\+[A-Z0-9]{3})*(?:_[A-Z0-9]+)?(_[0-9A-Z]{3,4})?$"
          type: string
        example: 1770871
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: views
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - CONFIDENTIAL
      - name: gcApprovalNumber
        in: query
        description: Comma seperated list of values. Please note that this parameter
          only has an effect on VANs.
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "400":
          description: MarketId or ModelId is not valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Market or the ModelId has not been found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TechnicalValues"
  /api/v1/markets/{marketId}/models/{modelId}/configurations/{configurationId}:
    get:
      tags:
      - Offering - Configuration
      summary: "Get the configuration for the given marketId, modelId and configurationId."
      description: "Get the VehicleConfiguration for the given `marketId`, `modelId`\
        \ and `configurationId`."
      operationId: getConfigurationForConfigurationId
      parameters:
      - name: marketId
        in: path
        description: "Combination of language and country e.g 'de_DE', 'en_AE-AZ'\
          \ or 'en_PS-GZA'"
        required: true
        schema:
          pattern: "^[a-zA-Z]{2}_[a-zA-Z]{2}(-[a-zA-Z0-9]{2,3})?$"
          type: string
        example: de_DE
      - name: modelId
        in: path
        description: "Minimal string that identifies a model e.g. '1770871'. If no\
          \ nationalSalesType is available, the modelId only consists of the baumuster\
          \ e.g. '1770871'."
        required: true
        schema:
          type: string
        example: 1770871
      - name: configurationId
        in: path
        description: Minimal string that identifies a configuration e.g. 'AU-311_GC-429_LE-L_LU-696_MJ-806_PC-PBG-PSA-U59-U62_SA-00U-01U-02B-213-218-243-258-270-286-287-294-310-345-351-355-362-365-367-428-43R-475-504-521-537-543-580-58U-5B0-620-677-679-70B-72B-73B-79B-7U2-859-873-88B-927-969-986-B01-B51-B59-L3E-R05-U01-U10-U12-U54-U60_SC-0B2-0K2-0S3-0U1-1B3-1U5-2S2-2U1-2U8-3S6-4S6-502-51B-6P5-6U0-7B4-8P3-8S8-8U6-8U8-98B-998-9U8-B09-B10-K13-K31-K37-K45-PVN-PXV-R7A-V08'.
        required: true
        schema:
          pattern: "^(((([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){1})(_([a-zA-Z0-9]{1,2}(-[a-zA-Z0-9#]{1,10})+)){0,})$"
          type: string
      - name: views
        in: query
        description: |-
          Specifies what kind of additional data should be returned. The data views are separated from each other by a comma.

          |parameter|Description|
          |---|---|
          |TECH|Data view of technical information of a vehicle|
          |MEDIA|Media (images) view for configuration|
          |IDS|View with component IDS for configuration|
          |CATEGORIES|Adds the configuration categories of all selected components|
          |MULTI_DESC|View with detailed component descriptions|
          |CONFIDENTIAL|Data view to fetch confidential vehicles based on configuration date - [View More](https://pages.git.i.mercedes-benz.com/CarConfigurator/CarIM/faq/)|
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - TECH
            - MEDIA
            - IDS
            - CATEGORIES
            - MULTI_DESC
            - CONFIDENTIAL
      - name: imagesForComponentTypes
        in: query
        description: A list of component types separated by a comma for which images
          should be included. If nothing is defined for all component types images
          are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - WHEELS
            - PAINTS
            - UPHOLSTERIES
            - TRIMS
            - PACKAGES
            - LINES
            - SPECIAL_EDITION
            - SPECIAL_EQUIPMENT
      - name: imageSizes
        in: query
        description: A list of image sizes separated by a comma. If nothing is defined
          for all image sizes images are returned.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SMALL
            - MEDIUM
            - LARGE
      - name: configurationDate
        in: query
        description: "Specifies the date on which a configuration has to be valid\
          \ (format: 'YYYY-MM-DD', e.g. '2024-02-14'). Attention: date is treated\
          \ as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: pricingDate
        in: query
        description: "Specifies the pricing date of the configuration (format: 'YYYY-MM-DD',\
          \ e.g. '2024-02-14'). Attention: date is treated as UTC date."
        required: false
        schema:
          type: string
          format: date
      - name: overrideSystemDate
        in: query
        description: "Specifies the virtual system date for KBV based vehicles (format:\
          \ 'YYYY-MM-DD', e.g. '2023-02-14'). Attention: date is treated as UTC date.\
          \ Only available when using CONFIDENTIAL view and corresponding access rights."
        required: false
        schema:
          type: string
          format: date
      - name: salesLevel
        in: query
        description: |
          Restricts the configurations to a certain sales level.

          |parameter|Description|
          |---|---|
          |INTERNET|Show configurations available on the internet (default)|
          |RETAIL|Show configurations available for retailers only|
          |WHOLESALE|Show configurations available for wholesalers only|
        required: false
        schema:
          type: string
          enum:
          - INTERNET
          - RETAIL
          - WHOLESALE
      - name: notation
        in: query
        description: |
          **(Beta)** The code notation to be used. Applies only to output parameters.


          **Important note:** Parameters in this category are still work in progress and not final yet. Breaking changes will NOT be announced in advance.
          |parameter|Notation|
          |---|---|
          |KERNEL| Use the notation for code and code type as provided by the C2/GCC/KBV (default)|
          |DIALOG| Use the dialog notation.
        required: false
        schema:
          type: string
          enum:
          - KERNEL
          - DIALOG
      - name: zipCode
        in: query
        description: The zip code is needed in Australia (e.g. 2000) and Malaysia
          (e.g. 50000) to calculate taxes and prices.
        required: false
        schema:
          pattern: "[0-9]{2,}"
          type: string
      - name: gcApprovalNumber
        in: query
        description: Comma seperated list of values. Used in conjunctions with `TECH`
          view in order to properly calculate WLTP values for VANs. Please note that
          this parameter only has an effect on VANs.
        required: false
        schema:
          type: string
      responses:
        "403":
          description: Access is forbidden for requested market or sales level
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "500":
          description: A system error has occurred. Details can be found in the error
            message.
          content:
[...]
